<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="           androidx.camera.camera2, androidx.camera.core,           androidx.camera.view, androidx.camera.lifecycle" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/Theme.PantryPlanner"
        tools:targetApi="31">
        <activity
            android:name=".RecipeActivity"
            android:exported="false"
            android:label="@string/title_activity_recipe"
            android:theme="@style/Theme.PantryPlanner.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".InventoryActivity"
            android:exported="true"
            android:theme="@style/Theme.PantryPlanner.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:theme="@style/Theme.PantryPlanner.NoActionBar"></activity>
        <activity
            android:name=".StatsActivity"
            android:exported="true"
            android:theme="@style/Theme.PantryPlanner.NoActionBar"></activity>
        <activity
            android:name=".ScanActivity"
            android:exported="true"
            android:theme="@style/Theme.PantryPlanner.NoActionBar"></activity>
        <activity
            android:name=".ProfileActivity"
            android:exported="true"
            android:theme="@style/Theme.PantryPlanner.NoActionBar"></activity>
    </application>

</manifest>